{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>home</title>

    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
    />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- fonts style -->
    <link
      href="{ % static 'https://fonts.googleapis.com/css?family=Poppins|Raleway:400,600|Righteous&display=swap' % }"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    {% load static %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span>
                Word Web Stacks
              </span>
            </a>

            <div class="navbar-collapse" id="">
              <div
                class="d-none d-lg-flex ml-auto flex-column flex-lg-row align-items-center mt-3"
              >
                <form class="form-inline mb-3 mb-lg-0 ">
                  <button
                    class="btn  my-sm-0 nav_search-btn"
                    type="submit"
                  ></button>
                </form>
                <ul class="navbar-nav  mr-5">
                  <li class="nav-item mr-5">
                    <a class="nav-link" href="service.html">
                      <span>Login</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="custom_menu-btn">
                <button onclick="openNav()">
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
                </button>
              </div>
              <div id="myNav" class="overlay">
                <div class="overlay-content">
                  <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'feature' %}">Features</a>
                    <a href="{% url 'contact' %}">Contact Us</a>

                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section position-relative">
        <div class="container">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="slider_item-box">
                  <div class="slider_item-container">
                    <div class="slider_item-detail">
                      <h1>PROVIDES TO MAKE BETTER SOFTWARE</h1>
                      <p>
                        Partner with us for top-notch web development solutions that deliver 
                        innovative, responsive, d to your business needs.
                      </p>
                      <div>
                        <a href="">Download</a>
                      </div>
                    </div>
                    <div class="slider_item-imgbox">
                      <img src="{% static 'images/pc-banner.png' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="slider_item-box">
                  <div class="slider_item-container">
                    <div class="slider_item-detail">
                      <h1>PROVIDES TO MAKE BETTER SOFTWARE</h1>
                      <p>Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.</p>
                      <div>
                        <a href="">Download</a>
                      </div>
                    </div>
                    <div class="slider_item-imgbox">
                      <img src="{% static 'images/developer.png' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="slider_item-box">
                  <div class="slider_item-container">
                    <div class="slider_item-detail">
                      <h1>PROVIDES TO MAKE BETTER SOFTWARE</h1>
                      <p>Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.</p>
                      <div>
                        <a href="">Download</a>
                      </div>
                    </div>
                    <div class="slider_item-imgbox">
                      <img src="{% static 'images/epos1.png' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </section>
      
      <!-- Bootstrap and jQuery JS for carousel functionality -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
      
      <!-- end slider section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container">
        <h2 class="text-uppercase">
          How it works
        </h2>
      </div>

      <div class="container">
        <div class="about_card-container layout_padding2-top">
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
                  <img src="{% static 'images/work1.png' %}" alt="" />
                </div>
              </div>
              <div class="card_detail-ox">
                <h4>
                  FULLY RESPONSIVE
                </h4>
                <p>
                  A fully responsive website is designed to adapt seamlessly 
                  to different screen sizes,devices, and orientations, providing 
                  an optimal user experience across desktops, laptops, tablets, 
                  and smartphones. With a fully responsive design, the website layout, images,
                   and content dynamically adjust to fit the screen, ensuring readability, 
                   functionality, 
                   and visual appeal on all devices. 







                </p>
              </div>
            </div>
          </div>
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
                  <img src="{% static 'images/work2.png' %}" alt="" />
                </div>
              </div>
              <div class="card_detail-ox">
                <h4>
                  WELL DOCUMENTED
                </h4>
                <p>
                  A well-documented website refers to a website developed with clear, organized, and detailed documentation 
                  that outlines its structure, functionality, and usage. This documentation typically includes technical 
                  aspects such as code structure, framework details, API integrations, and deployment instructions, 
                  as well as user-friendly guides for maintenance and updates.
                </p>
              </div>
            </div>
          </div>
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
                  <img src="{% static 'images/work3.png' %}" alt="" />
                </div>
              </div>
              <div class="card_detail-ox">
                <h4>
                  EASY TO USE
                </h4>
                <p>
                  An easy-to-use (user-friendly) website is designed to provide a seamless and intuitive experience for users. 
                  It features a clean layout, clear navigation, responsive design, and accessible content, ensuring that visitors 
                  can quickly find what they need without confusion or frustration.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- who section -->
    <section class="who_section">
      <div class="container who_container">
        <div class="who_img-box">
          <img src="{% static 'images/pc.jpg' %}" alt="" />
        </div>
        <div class="who_deail-box">
          <h2>
            Who is Word Web Stacks
          </h2>
          <p>
            Word Web Stacks is a cutting-edge IT service company specializing in web development,
             software development, and WordPress solutions. We deliver tailored digital experiences,
              innovative software, and user-friendly websites that empower businesses to thrive in the digital era.
               Let us turn your vision into reality with our expertise and commitment to excellence.
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end who section -->

    <!-- feature section  -->
    <section class="feature_section layout_padding">
      <div class="container">
        <h2 class="text-uppercase">
          Our Features
        </h2>
      </div>
      <div class="">
        <div class="feature_card-container layout_padding2">
          <div class="feature_card">
            <div class="feature_img-container">
              <div class="feature_img-box">
                <img src="{% static 'images/slider 3.jpg' %}" alt="" />
              </div>
            </div>
            <div class="feature_detail-box">
              <h4>
                CLEAN CODES
              </h4>
              <p>
                Word Web Stacks is a dynamic IT service company specializing in web development, 
                software development, and WordPress solutions. We craft clean, efficient code tailored to your needs,
                 delivering innovative websites, powerful software, 
                 and seamless digital solutions to help your business grow.
              </p>
            </div>
          </div>
          <div class="feature_card">
            <div class="feature_img-container">
              <div class="feature_img-box">
                <img src="{% static 'images/f2.png' %}" alt="" />
              </div>
            </div>
            <div class="feature_detail-box">
              <h4>
                PERFECT SHOWCASE
              </h4>
              <p>
                A perfect web stack showcase should demonstrate a well-rounded, full-stack application
                 that emphasizes modern development practices. It should provide a seamless experience 
                 from the front-end design to back-end infrastructure, along with deployment, security,
                  performance, and scalability considerations.
              </p>
            </div>
          </div>
          <div class="feature_card">
            <div class="feature_img-container">
              <div class="feature_img-box">
                <img src="{% static 'images/f3.png' %}" alt="" />
              </div>
            </div>
            <div class="feature_detail-box">
              <h4>
                FREE FONT
              </h4>
              <p>
                Free Font for Web Stacks refers to open-source or freely available 
                typefaces that can be used in web development without any licensing fees. 
                These fonts are commonly used in web stacks to enhance the visual appeal
                 and readability of websites.
              </p>
            </div>
          </div>
          <div class="feature_card">
            <div class="feature_img-container">
              <div class="feature_img-box">
                <img src="{% static 'images/f4.png' %}" alt="" />
              </div>
            </div>
            <div class="feature_detail-box">
              <h4>
                HIGH RESOLUTION
              </h4>
              <p>
                High Resolution from Word Web Stacks refers to the use of premium quality,
                 pixel-perfect assets designed to deliver superior clarity and sharpness.
                  Whether it's images, videos, or graphical elements, the high-resolution 
                  components ensure that your website looks visually striking and detailed 
                  across all devices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end feature section -->

    <!-- contact section -->
    <section class="contact_section ">
      <div class="container d-flex justify-content-center">
        <h2 class="text-uppercase">
          Get in touch
        </h2>
      </div>
      <div class="container-fluid layout_padding-top">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-10 offset-md-2">
              <div class="contact_img-box">
                <img src="{% static 'images/devr.jpeg' %}" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-6 form_bg px-0">
            <div class="col-md-10 px-0">
              <form action="">
                <div class="contact_form-container">
                  <div>
                    <div>
                      <input type="text" placeholder=" Name" />
                    </div>
                    <div>
                      <input type="email" placeholder="  Email" />
                    </div>

                    <div>
                      <input type="text" placeholder=" Phone Number" />
                    </div>

                    <div>
                      <input
                        type="text"
                        placeholder="Message"
                        class="message_input"
                      />
                    </div>
                    <div class="mt-3 d-flex justify-content-end">
                      <button type="submit">
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->

    <!-- info section -->
    <section class="info_section layout_padding">
      <div class="container info_content">
        <div>
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex">
                <h5>
                  New software
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About Departments
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contact Us
                    </a>
                  </li>
                </ul>
                <ul class="ml-3 ml-md-5">
                  <li>
                   
                  <li>
                    
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex">
                <h5>
                  our Services
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About Departments
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contact Us
                    </a>
                  </li>
                </ul>
                <ul class="ml-3 ml-md-5">
                  <li>
                    <a href="">
                      Lorem ipsum dolor
                    </a>
                  </li>
                  <li>
                    <a href="">
                      sit amet, consectetur
                    </a>
                  </li>
                  <li>
                    <a href="">
                      adipiscing elit,
                    </a>
                  </li>
                  <li>
                    <a href="">
                      sed do eiusmod
                    </a>
                  </li>
                  <li>
                    <a href="">
                      tempor incididunt
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex">
                <h5>
                  Contact Us
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About Departments
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contact Us
                    </a>
                  </li>
                </ul>
                <ul class="ml-3 ml-md-5">
                  <li>
                    <a href="">
                      Lorem ipsum
                    </a>
                  </li>
                  <li>
                    <a href="">
                      dolor sit amet,
                    </a>
                  </li>
                  <li>
                    <a href="">
                      consectetur
                    </a>
                  </li>
                  <li>
                    <a href="">
                      adipiscing
                    </a>
                  </li>
                  <li>
                    <a href="">
                      elit, sed do eiusmod
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline"
        >
          <div class="social-box">
            <a href="">
              <img src="{% static 'images/fb.png' %} " alt="" />
            </a>

            <a href="">
              <img src="{% static 'images/twitter.png' %}" alt="" />
            </a>
            <a href="">
              <img src="{% static 'images/linkedin1.png' %}" alt="" />
            </a>
            <a href="">
              <img src="{% static 'images/instagram1.png' %}" alt="" />
            </a>
          </div>
          <div class="form_container mt-5">
            <form action="">
              <label for="subscribeMail">
                Newsletter
              </label>
              <input
                type="email"
                placeholder="Enter Your email"
                id="subscribeMail"
              />
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>
        &copy; 2025 All Rights Reserved. Design by
        <a href="https://muhammad-abdullah.online">Abdullah Rajpoot</a>
      </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <script>
      function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
          .querySelector(".custom_menu-btn")
          .classList.toggle("menu_btn-style");
      }
    </script>
  </body>
</html>
